/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
  background-color: #292929; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.hidden {
  display: none; }

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url(../fonts/RalewayRegular/RalewayRegular.woff) format("woff"); }

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url(../fonts/RalewaySemiBold/RalewaySemiBold.woff) format("woff"); }

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url(../fonts/RalewayLight/RalewayLight.woff) format("woff"); }

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url(../fonts/RalewayBold/RalewayBold.woff) format("woff"); }

.form {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.form-group__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%; }

.form-group {
  width: 100%;
  margin-bottom: 20px; }

.form-group--area {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1; }

.form-group__field {
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  outline: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  color: #292929; }
  .form-group__field:focus::-webkit-input-placeholder {
    opacity: 0.5; }
  .form-group__field:focus:-ms-input-placeholder {
    opacity: 0.5; }
  .form-group__field:focus::-ms-input-placeholder {
    opacity: 0.5; }
  .form-group__field:focus::placeholder {
    opacity: 0.5; }

.page-header {
  min-height: 480px; }
  .page-header__wrapper {
    z-index: 10;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%; }

.page-header__logo {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.page-header__tagline {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.main-nav {
  z-index: 50;
  position: relative; }

.main-nav__items, .main-nav__item {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item a {
  position: relative;
  display: block;
  color: #d3d68d;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  outline: none; }

.main-nav__social {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.social-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .social-links svg {
    width: 40px;
    height: 40px; }

.social-links--footer {
  display: -webkit-box;
  display: flex; }

.social-links--footer li {
  display: -webkit-box;
  display: flex;
  margin: auto;
  background-color: #292929; }

.social-links__link {
  width: 40px;
  height: 40px;
  font-size: 0;
  text-decoration: none; }

.button {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  color: #292929;
  letter-spacing: 1.5px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: #d3d68d;
  border: none;
  outline: none;
  cursor: pointer; }
  .button:hover {
    background-color: #b0b282; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d3d68d; }

.button--submit {
  margin-left: auto;
  padding: 12px 22px; }

.button--link {
  display: inline-block;
  padding: 10px 15px; }

.line-break {
  display: none; }

.s-about {
  min-height: 200px;
  padding-bottom: 50px;
  background-color: #f8f5f2;
  color: #292929; }

.s-about__wrapper {
  width: auto;
  margin: 0 1em; }

.s-about__header {
  padding: 30px 0; }

.s-about__title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2px; }
  .s-about__title::after {
    content: "";
    margin-top: 50px;
    right: 20vw;
    left: 20vw;
    height: 2px;
    position: absolute;
    background-color: #292929; }

.s-parents {
  min-height: 200px;
  padding-bottom: 50px;
  color: #d3d68d; }

.s-parents__wrapper {
  width: auto;
  margin: 0 1em;
  color: inherit; }

.s-parents__header {
  padding: 30px 0; }

.s-parents__title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  color: #d3d68d;
  letter-spacing: 2px; }
  .s-parents__title::after {
    content: "";
    margin-top: 50px;
    right: 20vw;
    left: 20vw;
    height: 2px;
    position: absolute;
    background-color: #d3d68d; }

.s-parents__items {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: inherit; }

.popup-gallery {
  width: 100%;
  color: inherit; }

.popup-gallery__title {
  margin-bottom: 30px;
  text-align: center;
  color: inherit;
  letter-spacing: 2px; }

.popup-gallery__main-foto {
  position: relative;
  margin-bottom: 30px; }

.popup-gallery__main-foto img {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: auto; }

.popup-gallery__hovered-content {
  display: -webkit-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.0;
  transition: all 0.5s; }
  .popup-gallery__hovered-content:hover {
    opacity: 1; }

.popup-gallery__hovered-link {
  margin: auto; }

.popup-gallery__description {
  color: inherit; }

.s-children {
  min-height: 200px;
  padding-bottom: 50px;
  background-color: #f8f5f2;
  color: #292929; }

.s-children__wrapper {
  width: auto;
  margin: 0 1em;
  color: inherit; }

.s-children__header {
  padding: 30px 0; }

.s-children__title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2px; }
  .s-children__title::after {
    content: "";
    margin-top: 50px;
    right: 20vw;
    left: 20vw;
    height: 2px;
    position: absolute;
    background-color: #292929; }

.s-children__items {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: inherit; }

.s-contacts {
  min-height: 200px;
  padding-bottom: 50px;
  color: #d3d68d; }

.s-contacts__wrapper {
  width: auto;
  margin: 0 1em; }

.s-contacts__header {
  padding: 40px 0 60px; }

.s-contacts__title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 2px; }
  .s-contacts__title::after {
    content: "";
    margin-top: 50px;
    right: 20vw;
    left: 20vw;
    height: 2px;
    position: absolute;
    background-color: #d3d68d; }

.page-footer {
  min-height: 100px;
  background-color: #d3d68d; }

.page-footer__wrapper {
  width: auto;
  margin: 0 1em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.page-footer__logo {
  width: 150px;
  height: auto; }
  .page-footer__logo img {
    width: 100%;
    height: auto;
    fill: green; }

.page-footer__social {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

@media (min-width: 768px) {
  .form {
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .form-group__wrapper {
    width: 47%; }
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #292929; }
  .main-nav__wrapper {
    width: auto;
    margin: 0 1em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .main-nav__items {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
            flex-grow: 1;
    justify-content: space-around; }
  .main-nav__item {
    margin-right: 32px;
    line-height: 20px;
    vertical-align: top; }
    .main-nav__item:last-child {
      margin-right: 0; }
  .main-nav__item a {
    padding: 20px 20px;
    font-size: 16px;
    position: relative; }
    .main-nav__item a:hover {
      color: #b0b282; }
      .main-nav__item a:hover::after {
        content: "";
        position: absolute;
        right: 20px;
        bottom: 10px;
        left: 20px;
        height: 1px;
        background-color: #b0b282; }
  .main-nav__toggle {
    display: none; }
    .line-break {
      display: inline; }
  .social-links {
    display: -webkit-box;
    display: flex; }
  .social-links li {
    display: -webkit-box;
    display: flex;
    margin: auto; }
    .s-about__wrapper {
      width: 84%;
      max-width: 960px;
      margin: 0 auto; }
    .s-parents__wrapper {
      width: 84%;
      max-width: 960px;
      margin: 0 auto; }
  .popup-gallery {
    width: 47%; }
    .s-children__wrapper {
      width: 84%;
      max-width: 960px;
      margin: 0 auto; }
    .s-contacts__wrapper {
      width: 84%;
      max-width: 960px;
      margin: 0 auto; }
    .page-footer__wrapper {
      width: 84%;
      max-width: 960px;
      margin: 0 auto; }
  .page-footer__logo {
    width: 200px; } }

@media (min-width: 768px) and (min-width: 768px) {
    .main-nav__wrapper {
      width: 84%;
      max-width: 960px;
      margin: 0 auto; } }

@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none; } }

@media (max-width: 767px) {
  .page-header__logo {
    width: 85%;
    margin: 0 1em; }
    .page-header__logo img {
      width: 100%;
      height: auto; }
  .main-nav__social {
    z-index: 100;
    position: fixed;
    left: 20px;
    top: 20px; }
  .main-nav__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    right: 0;
    top: 0;
    display: none; }
  .main-nav__items {
    margin-top: 180px;
    text-align: center;
    -webkit-animation-duration: .01s;
            animation-duration: .01s; }
  .main-nav__item:nth-child(1) a {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .main-nav__item:nth-child(2) a {
    -webkit-animation-delay: .1s;
            animation-delay: .1s; }
  .main-nav__item:nth-child(3) a {
    -webkit-animation-delay: .2s;
            animation-delay: .2s; }
  .main-nav__item:nth-child(4) a {
    -webkit-animation-delay: .3s;
            animation-delay: .3s; }
  .main-nav__item a {
    opacity: 0;
    position: relative;
    height: 60px;
    outline: none; }
    .main-nav__item a span {
      display: block;
      position: relative;
      top: -40px;
      left: 0;
      height: 100%;
      transition: all 0.5s ease; }
      .main-nav__item a span:hover {
        background-color: rgba(255, 255, 255, 0.08); }
  .main-nav__toggle {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 100;
    border: none;
    right: 18px;
    top: 18px;
    font-size: 0;
    cursor: pointer;
    background-color: #d3d68d; }
    .main-nav__toggle:hover {
      background-color: #b0b282; }
    .main-nav__toggle span {
      display: block; }
  .main-nav__sandwich {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200; }
  .main-nav__line-top {
    position: relative;
    top: 0;
    width: 28px;
    height: 3px;
    background: #f8f5f2;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: top 0.2s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    display: block; }
  .main-nav__line-middle {
    position: relative;
    width: 28px;
    height: 3px;
    top: 6.6px;
    background: #f8f5f2;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: top 0.2s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    transition-delay: 0.2s, 0s; }
  .main-nav__line-bottom {
    position: relative;
    width: 28px;
    height: 3px;
    top: 13.5px;
    background: #f8f5f2;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s; }
  .main-nav__sandwich.active .main-nav__line-top {
    top: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav__sandwich.active .main-nav__line-middle {
    top: 6px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav__sandwich.active .main-nav__line-bottom {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@media (max-width: 767px) and (orientation: landscape) {
    .main-nav__items {
      margin-top: 50px; } }
